{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        {{ Welcome }}
    {% endif %}
{% endblock %}

{% block navbar %}
    {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
    {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>
                    <span style="color: red">{{ message }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block app_content %}

    {% endblock %}
{% endblock %}