{% extends 'base.html' %}

{% block app_content %}
    <b style="font-size: large">{{ data.get('title') }}</b>
    <hr>
    <p>作者：<a href="{{ url_for('author',author_name=data.get('author')) }}">{{ data.get('author') }}</a>
    </p>
    <p>简介：</p>
    {% for p in data.get('longIntro') %}
        <p style="font-size: 100%">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ p }}
        </p>
    {% endfor %}
    {% if source_type !=None %}
        {% if source_type == 'vip' %}
            <p>
                <i>（提示：当前书源失效，请  <a href="{{ url_for('source',book_id=data.get('_id')) }}">换源</a>  ）</i>
            </p>
        {% endif %}
        <p>最近更新：{{ moment(data.get('updated')).fromNow() }}</p>
        {% if lastIndex %}
            <p>最新章节：
                <a href="{{ url_for('read',book_id=data.get('_id'),index=lastIndex,source_id=source_id) }}">{{ data.get('lastChapter') }}</a>
            </p>
        {% else %}
            <p>最新章节：{{ data.get('lastChapter') }}</p>
        {% endif %}


        {% if is_subscribe %}
            <p>阅读进度：&nbsp;<a
                    href="{{ url_for('read',book_id=data.get('_id'),index=reading,source_id=source_id) }}">{{ readingChapter }}</a>
                {% if next %}
                    <a href="
                            {{ url_for('read',book_id=data.get('_id'),index=next,source_id=source_id) }}">下一章</a>
                {% endif %}
            </p>
        {% endif %}
        <p>阅读选项：
            <a href="{{ url_for('chapter',source_id=source_id,book_id=data.get('_id'),page=0) }}">章节列表</a>&nbsp;&nbsp;
            <a href="{{ url_for('source',book_id=data.get('_id')) }}">换源</a>&nbsp;&nbsp;
            {% if is_subscribe %}
                <a href="{{ url_for('unsubscribe',id=data.get('_id')) }}">取消订阅</a>
            {% else %}
                <a href="{{ url_for('subscribe',id=data.get('_id')) }}">订阅</a>
            {% endif %}
            &nbsp;&nbsp;
            <a href="{{ url_for('download',book_id = data.get('_id'),source_id = source_id) }}">下载</a>

        </p>
    {% else %}
        <p>
            <i>（提示：这本书没有可以阅读的资源）</i>
        </p>
    {% endif %}


{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}