{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <p>
        {% for c in data %}
            <a href="{{ url_for('read',index=c.index,source_id=source_id,book_id=book_id) }}">{{ c.title }}</a><br>
        {% endfor %}
    </p>
    <hr>
    <tr>
        <th>
            {% if page != 0 %}
                <a href="{{ url_for('chapter',source_id=source_id,page=0,book_id=book_id) }}">首页</a>
            {% else %}
                首页
            {% endif %}
        </th>
        <th>
            {% if page != 0 %}
                <a href="{{ url_for('chapter',source_id=source_id,page=page - 1,book_id=book_id) }}">上一页</a>
            {% else %}
                上一页
            {% endif %}
        </th>
        <th>
            {% if page != page_count %}
                <a href="{{ url_for('chapter',source_id=source_id,page=page + 1,book_id=book_id) }}">下一页</a>
            {% else %}
                下一页
            {% endif %}
        </th>
        <th>
            {% if page != page_count %}
                <a href="{{ url_for('chapter',source_id=source_id,page=page_count,book_id=book_id) }}">尾页</a>
            {% else %}
                尾页
            {% endif %}
        </th>
    </tr>
    <tr>
        <th>
            <form action="/chapter/{{ source_id }}?book_id={{ book_id }}", method="post">
{#                {{ wtf.quick_form(form) }}#}
                {#                <input type="text" name="page" value="">#}
                {#                <input type="submit" value="跳转">#}
                {{ form.hidden_tag() }}
                {{ form.page(size=10) }}
                {{ form.submit() }}
            </form>
        </th>
    </tr>
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}