{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if not current_user.is_anonymous %}
        <p>欢迎，{{ current_user.name }}</p>
    {% else %}
        <p>欢迎，旅行者</p>
    {% endif %}

    <h1 style="font-size: large">订阅</h1>
    <hr>
    {% if not current_user.is_anonymous %}



        {#        <p style="font-weight: bold">订阅列表</p>#}
        {% if data.get('subscribe') %}
            {% for book in data.get('subscribe') %}
                <table>
                    <tr>
                        <a href="{{ url_for('book_detail',book_id=book['_id']) }}">{{ book['title'] }}</a>

                    </tr>
                    <tr>
                        <p>{{ book['last_chapter'] }}({{ moment(book['updated']).fromNow() }})</p>
                    </tr>
                </table>

            {% endfor %}
        {% else %}
            <p>你的订阅列表是空的</p>
        {% endif %}

    {% else %}

        <p>
            <a href="{{ url_for('login') }}"> 登录</a>以查看你的订阅列表
        </p>
    {% endif %}
    <hr>
    {% if form %}
        <h2 style="font-size: large">探索</h2>
        {#        {{ wtf.quick_form(form) }}#}
        <form action="" , method="post">
            {{ form.hidden_tag() }}
            {{ form.search(size=32) }}
            {{ form.submit() }}
        </form>
        <hr>
    {% endif %}


    {% if data['classify'] %}
        <h3 style="font-size: large">分类</h3>
        <table>
            <tr><p>男频</p></tr>
            <tr>
                {% for i in data['classify']['male'] %}

                    <tr>
                        <a href="{{ url_for('classify',gender='male',start=0,limit=limit,type='hot',major=i['name']) }}">{{ i['name'] }}</a>
                        &nbsp;
                    </tr>

                {% endfor %}
            </tr>
        </table>
        <br>
        <table>
            <tr><p>女频</p></tr>
            <tr>
                {% for i in data['classify']['female'] %}

                    <tr>
                        <a href="{{ url_for('classify',gender='female',start=0,limit=limit,type='hot',major=i['name']) }}">{{ i['name'] }}</a>
                        &nbsp;
                    </tr>

                {% endfor %}
            </tr>
        </table>
        <br>
        <table>
            <tr><p>出版</p></tr>
            <tr>
                {% for i in data['classify']['press'] %}

                    <tr>
                        <a href="{{ url_for('classify',gender='press',start=0,limit=limit,type='hot',major=i['name']) }}">{{ i['name'] }}</a>
                        &nbsp;
                    </tr>

                {% endfor %}
            </tr>
        </table>
    {% endif %}

    {% if data['rank'] %}
        <hr>
        <h4 style="font-size: large">排行</h4>
        <table>
            <tr><p>男频</p></tr>
            <tr>
                {% for i in data['rank']['male'] %}
                    <tr>
                        <a href="{{ url_for('rank',_id=i['_id']) }}">{{ i['shortTitle'] }}</a>
                        &nbsp;
                    </tr>
                {% endfor %}
            </tr>
        </table>
        <br>
        <table>
            <tr><p>女频</p></tr>
            <tr>
                {% for i in data['rank']['female'] %}
                    <tr>
                        <a href="{{ url_for('rank',_id=i['_id']) }}">{{ i['shortTitle'] }}</a>
                        &nbsp;
                    </tr>
                {% endfor %}
            </tr>
        </table>
    {% endif %}


    <hr>
    <h4 style="font-size: large">书单</h4>
    <table>
        <tr><p>男频</p></tr>
        <tr>
            <a href="{{ url_for('book_list_rank',gender='male',sort='collectorCount',duration='all',start=0) }}">最多收藏</a>
            &nbsp;
        </tr>
        <tr>
            <a href="{{ url_for('book_list_rank',gender='male',sort='collectorCount',duration='last-seven-days',start=0) }}">本周最热</a>
            &nbsp;
        </tr>
        <tr>
            <a href="{{ url_for('book_list_rank',gender='male',sort='created',duration='duration=all',start=0) }}">最新发布</a>
        </tr>
    </table>
    <br>
    <table>
        <tr><p>女频</p></tr>
        <tr>
            <a href="{{ url_for('book_list_rank',gender='female',sort='collectorCount',duration='all',start=0) }}">最多收藏</a>
            &nbsp;
        </tr>
        <tr>
            <a href="{{ url_for('book_list_rank',gender='female',sort='collectorCount',duration='last-seven-days',start=0) }}">本周最热</a>
            &nbsp;
        </tr>
        <tr>
            <a href="{{ url_for('book_list_rank',gender='female',sort='created',duration='duration=all',start=0) }}">最新发布</a>
        </tr>
    </table>


{% endblock %}