{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if not current_user.is_anonymous %}
        <p>欢迎，{{ current_user.name }}</p>
        <hr>
       <p>订阅列表</p>
        {% for book in data.get('subscribe') %}
            <table>
            <tr>
                <a href="{{ url_for('book_detail',book_id=book['_id']) }}">{{ book['title'] }}</a>

            </tr>
            <tr>
                <p>{{ book['last_chapter'] }}</p>
            </tr>
            </table>

        {% endfor %}
        <hr>
    {% endif %}

    {% if form %}
        {{ wtf.quick_form(form) }}
        <hr>
    {% endif %}



{% endblock %}