{% extends 'base.html' %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <body>
    {% for p in body %}
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ p }}
        </p>
    {% endfor %}
    </body>
    <hr>
    {% if pre is not none %}
        <tr>
            <a href="{{ url_for('read',index=pre,bookId=bookId) }}">上一章</a>
        </tr>
    {% endif %}
    <tr>
        <a href="{{ url_for('chapter',id=bookId,page=page) }}">目录</a>
    </tr>
    {% if next is not none %}
        <tr>
            <a href="{{ url_for('read',index=next,bookId=bookId) }}">下一章</a>
        </tr>
    {% endif %}
{% endblock %}