{% extends 'base.html' %}

{% block app_content %}
    <h1 style="text-align: center">{{ title }}</h1>
    <br>
    <body>
    {% for p in body %}
        <p style="font-size: 150%">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ p }}
        </p>
    {% endfor %}
    </body>
    <hr>
    {% if pre is not none %}
        <tr>
            <a href="{{ url_for('read',index=pre,book_id=book_id,source_id=source_id) }}">上一章</a>
        </tr>
    {% endif %}

    <tr>
        <a href="{{ url_for('chapter',book_id=book_id,page=page,source_id=source_id) }}">目录</a>
    </tr>
    <tr>
        <a href="{{ url_for('source', book_id=book_id,page=page,source_id=source_id) }}">换源</a>
    </tr>
    {% if next is not none %}
        <tr>
            <a href="{{ url_for('read',index=next,book_id=book_id,source_id=source_id) }}">下一章</a>
        </tr>
    {% endif %}
{% endblock %}